@{
    Layout = "_Layout";
}

@model SignInModel

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<body>
    <form asp-controller="Home" asp-action="Login">
        <div class="form-group">
            <label for="Login">Login:</label>
            <input type="text" asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="text" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="SignIn" style="margin-top:20px">Sign in</button>
        </div>
    </form>
</body>